@{
    ViewBag.Title = "Cardápio";
}

<h3>Cardápio</h3>
<hr />

<div class="row">
    <a class="btn btn-primary pull-right" href="@Url.Action("NovaRefeicao")">Nova refeição</a>
</div>

@{ Html.RenderPartial("~/Views/Shared/_Mensagem.cshtml"); }

<div class="container cardapio-container">
    <div class="row">

        <div class="col-sm-4">
            <div class="cardapio-item">
                <div class="refeição-imagem">
                    <img src="~/Content/img/arroz.jpg" />
                </div>
                <div class="refeição-descricao">
                    <h4>Nome</h4>
                    <span>
                        Picadinho de carne com batata.
                    </span>
                    <span>
                        R$ 15.00
                    </span>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="cardapio-item">
                <div class="refeição-imagem">
                    <img src="~/Content/img/arroz.jpg" />
                </div>
                <div class="refeição-descricao">
                    <h4>Nome</h4>
                    <span>
                        Lorem Ipsum is simply dummy text of the printing <br />
                        and typesetting industry.
                    </span>
                    <span>
                        R$ 15.00
                    </span>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="cardapio-item">
                <div class="refeição-imagem">
                    <img src="~/Content/img/arroz.jpg" />
                </div>
                <div class="refeição-descricao">
                    <h4>Nome</h4>
                    <span>
                        Lorem Ipsum is simply dummy text of the printing <br />
                        and typesetting industry.
                    </span>
                    <span>
                        R$ 15.00
                    </span>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="cardapio-item">
                <div class="refeição-imagem">
                    <img src="~/Content/img/arroz.jpg" />
                </div>
                <div class="refeição-descricao">
                    <h4>Nome</h4>
                    <span>
                        Lorem Ipsum is simply dummy text of the printing <br />
                        and typesetting industry.
                    </span>
                    <span>
                        R$ 15.00
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .cardapio-container {
        padding-top: 20px;
    }

    .cardapio-item {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        margin: 4px 7px 4px 4px;
    }

        .cardapio-item:hover {
            background-color: #f7f7f7;
            border-radius: 10px;
        }

    .refeição-descricao {
        margin-left: 20px;
        margin-top: 10px;
    }

    span {
        display: block;
    }

    img {
        border-radius: 10%;
        width: 130px;
        height: 130px;
    }
</style>






@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}