@model List<Porcao>

@{
    ViewBag.Title = "Porções";
}


<h3>@ViewBag.Title</h3>
<hr />

@{ Html.RenderPartial("~/Views/Shared/_Mensagem.cshtml"); }

<div class="row">
    <a class="btn btn-primary pull-right" href="@Url.Action("NovaPorcao")">Nova Porção</a>
</div>

<ul>

    @foreach (var porcao in Model)
    {
        <li>
            <a href="@Url.Action("EditarPorcao", "Home", new { PorcaoId = porcao.PorcaoId })">  @porcao.Nome  </a>
        </li>
    }

</ul>


